@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #454a4e;*/
  /*background-color: #4f5460;*/
  /*background-color: #67686c;*/
  background-color: #eaeaea;

}
#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.width-100p {
  width: 100%;
}
.width-90p {
  width: 90%;
}
@layer components {
  .custom-table-cell {
    @apply border-y border-black text-left py-4 text-lg flex-1 font-bold px-2;
  }
  .colorDot {
    @apply w-1 h-1 bg-amber-300 border border-r-4;
  }
  .list-view-container {
    @apply flex flex-col mx-auto;
  }
  .list-button {
    @apply p-2 mx-2 border border-black bg-gray-700 text-white;
  }
  .list-row {
    @apply odd:bg-[#f5f5f5] hover:cursor-pointer hover:bg-white;
  }
  .side-menu-item {
    @apply w-[70px] aspect-square border-b-[1px] text-blue-400 border-x-0 border-white flex items-center justify-center transition-all hover:text-white hover:bg-gray-700 hover:cursor-pointer;
  }
}
